:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}




button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.product {
  height: 50vh;
  width: 32vw;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: 200px;
  display: inline-block;
}

.product img {
  max-width: 30vw;
  object-fit: cover;
  margin: auto;
  height: 20vh;
}

.product-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.product-description {
  font-size: 14px;
  margin-bottom: 5px;
}

.product-price {
  font-size: 16px;
  color: #009688; /* teal color */
  font-weight: bold;
}
header {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 50px; /* Adjust size as needed */
  height: auto;
  margin-right: 10px;
}

.logo h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li button {
  background-color: #555;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

nav ul li button:hover {
  background-color: #777;
}
form {
  width: 300px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}



.error-message {
  color: red;
  margin-top: 10px;
}
.signup-button {
  width: 100px;
  align-self: center;
  padding: 10px;
  background-color: #28a745; /* Green color for sign up button */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.signup-button:hover {
  background-color: #218838; /* Darker green color on hover */
}
.addCardContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.cardItem {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  width: 200px;
}

.cardItem h1 {
  font-size: 18px;
  margin-bottom: 10px;
}

.cardItem img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.cardItem h2 {
  font-size: 16px;
  margin-bottom: 10px;
}